/* VERSION MOBILE */

@media screen and (max-width: 700px) {

    /* CORPS DU SITE*/
    body {
        width: 100%;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
    }

    main {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    p {
        margin: 0px;
    }

    /* HEADER */
    header {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 6px 2px #e6e6e6;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu__logo {
        font-family: 'Shrikhand', cursive;
    }

    /* EXPLORER LES RESTAURANTS */
    .header__explorer {
        width: 100%;
        height: 340px;
        margin-bottom: 30px;
    }

    .header__location {
        width: 100%;
        height: 45px;
        font-size: 15px;
        font-weight: bold;
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__iconhere {
        margin-right: 15px;
    }

    .explorer {
        width: 100%;
        height: 330px;
        background-color: rgb(244, 244, 244);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .explorer__titre {
        width: 70%;
        font-size: 30px;
        margin-top: 0px;
        text-align: center;
    }

    .explorer__slogan {
        width: 85%;
        font-weight: lighter;
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .explorer__bouton {
        width: 60%;
        height: 45px;
        font-size: 18px;
        color: white;
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 4px #b9b9b9;
    }

    /* FONCTIONNEMENT */
    .notice {
        width: 100%;
        height: 440px;
        display: flex;
        flex-direction: column;
    }

    .notice__titre {
        font-size: 30px;
        margin-left: 5%;
        margin-top: 50px;
    }

    .notice__ordre {
        width: 80%;
        height: 70px;
        background-color: rgb(244, 244, 244);
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 6px 2px #e6e6e6;
    }

    .notice__chiffres {
        width: 15px;
        height: 15px;
        color: white;
        background-color: #9356DC;
        border-radius: 20px;
        margin-left: -13px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice__icons {
        color: grey;
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .notice__icons--points {
        margin-right: 0px;
    }

    .notice__icons--barres {
        margin-left: 0px;
    }

    .notice__texte {
        font-size: 18px;
        font-weight: bold;
    }

    .notice__ordre--violet {
        background-color: #e7e1ee;
    }

    .notice__icons--resto {
        color: #9356DC;
    }

    /* GRID RESTAURANTS */
    .gridindex {
        width: 100%;
        height: 1270px;
        background-color: rgb(244, 244, 244);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gridindex__titre {
        width: 90%;
        text-align: left;
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .gridindex__lien {
        width: 90%;
        margin-bottom: 25px;
    }

    .gridindex__choix {
        width: 100%;
        height: 260px;
        background-color: white;
        margin: 0px;
        border-radius: 15px;
        position: relative;
        box-shadow: 0px 2px 6px 2px #e6e6e6;
    }

    .gridindex__photo {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .gridindex__new {
        width: 100px;
        height: 30px;
        font-weight: bold;
        color: #4c746a;
        background-color: #99e2d0;
        text-align: center;
        position: absolute;
        top: 5%;
        right: 5%;
        border-radius: 5px;
        line-height: 30px;
        vertical-align: middle;
    }

    .gridindex__legende {
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .gridindex__nomresto {
        width: 80%;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .gridindex__villeresto {
        width: 80%;
        font-weight: normal;
    }

    .gridindex__fav {
        width: 20%;
        text-align: right;
    }

    .gridindex__fav--off {
        font-size: 30px;
        cursor: pointer;
    }

    /* FOOTER */
    footer {
        width: 90%;
        height: 150px;
        color: white;
        background-color: rgb(47, 47, 47);
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__lien {
        color: white;
    }

    .footer__lien--titre {
        font-family: 'Shrikhand', cursive;
        color: white
    }

    .footer__lien--ligneicon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer__icon {
        margin-right: 10px;
    }

}